<html>
<head>
    <title>Market Trade Processor</title>
    <link href="/stylesheets/c3.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main">
    <div class="ajaxMsg"></div>
    <div>
        <span class="text">Trade break up by Currency From</span>
        <div id="currencyFromChart"></div>
    </div>
    <div>
        <span class="text">Trade break up by Currency To</span>
        <div id="currencyToChart"></div>
    </div>
    <div>
       <span class="text"> Trade break up by Country Origin</span>
        <div id="originCountry"></div>
    </div>
    <div>
        <span class="text">Trade break up by Date created</span>
        <div id="createOn"></div>
    </div>
</div>
</body>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<!--<script type="text/javascript" src="/javascripts/chart.min.js"></script>-->
<script src="/javascripts/d3.min.js" charset="utf-8"></script>
<script src="/javascripts/c3.min.js"></script>
<script type="text/javascript" src="/javascripts/home.js"></script>
</html>