body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.ajaxMsg {
    font-weight: bold;
    padding-left: 15%;
    font-size: 30px;
    padding-bottom: 1%;
}

.main .text{
    font-size: 20px;
    display:none;
}